@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

:root {
  --bg-color: #111827ff;
  --bg-secondary-color: #070c16ff;
  --primary-color: white;
  --secondary-color: #1798e8;
  --third-color: #454545ff;
}

/* Universal styles */

body {
  margin: 0px;
  font-family: "Jost";
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.al-cen {
  align-items: center;
}

.ju-cen {
  justify-content: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.right {
  right: 0px;
}

/* Text */
.text-size6 {
  font-weight: 700;
  font-size: min(60px, 9vw);
  color: var(--primary-color);
}

.heading-text {
  font-size: 40px;
  color: var(--primary-color);
  height: 58.4px;
}

.normal-text {
  font-size: 20px;
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.fixed {
  position: fixed;
}

/* display styles */

.display-con {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.typing-con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: min(5px, 0.4vw);

  position: absolute;
  z-index: 10;
  height: 90px;

  width: min(950px, 80vw);

  animation-name: none;
  animation-delay: 4.5s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.typeline {
  background-color: var(--primary-color);
  height: min(55px, 9vw);
  width: min(3px, 0.4vw);
  margin-top: min(14px, 2vw);
  animation: forwards;
  animation-name: typelineBlink, cWhite, typelineBlink, cWhite, typelineBlink,
    cWhite, typelineBlink;
  animation-duration: 1.5s, 1.15s, 1.5s, 1.15s, 1.5s, 3s, 1.5s;
  animation-timing-function: linear;
  animation-delay: 0s, 3s, 4.15s, 5.65s, 6.5s, 8s, 11s, 12.5s;
  animation-iteration-count: 2, 1, 1, 1, 1, 1, 1;
}

@media (max-width: 1138px) {
  .typeline {
    animation-name: typelineBlink, cWhite, typelineBlink, cWhite, typelineBlink;
  }
}

.moving-code-sideways {
  color: var(--secondary-color);
  font-size: min(25px, 5vw);
  position: absolute;
  animation: moveLeftText 12s linear forwards;
  white-space: nowrap;
}

.moving-code-upward {
  color: var(--secondary-color);
  font-size: min(25px, 5vw);
  position: absolute;
  animation: moveUpText 12s linear forwards;
  white-space: nowrap;
}

.moving-code-sideways:nth-child(2) {
  top: 10vh;
  animation-duration: 12s;
  color: var(--primary-color);
}

.moving-code-upward:nth-child(3) {
  margin-left: calc(min(950px, 80vw) - 20vw);
  animation-duration: 13s;
}

@media (max-width: 760px) {
  .moving-code-upward:nth-child(3) {
    margin-left: 90vw;
  }
}

.moving-code-sideways:nth-child(4) {
  bottom: 10vh;
  animation-direction: reverse;
  animation-duration: 10s;
  animation-delay: 2s;
  transform: translateX(100vw);
}

.moving-code-upward:nth-child(5) {
  color: var(--primary-color);
  animation-duration: 11.3s;
  animation-delay: 1s;
  opacity: 0;
  margin-right: calc(min(950px, 80vw) + 10vw);
}

@keyframes typelineBlink {
  0% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: var(--primary-color);
  }
  51% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes cWhite {
  0% {
    background-color: var(--primary-color);
  }
  100% {
    background-color: var(--primary-color);
  }
}

@keyframes moveLeftText {
  0% {
    transform: translateX(100vw); /* Start off-screen on the right */
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw); /* End off-screen on the left */
    opacity: 1;
  }
}

@keyframes moveUpText {
  0% {
    transform: rotate(90deg) translateX(100%);
    opacity: 1;
  }
  100% {
    transform: rotate(90deg) translateX(-100%);
    opacity: 1;
  }
}

/* Home */

.home-con {
  background-color: var(--bg-color);
  position: relative;
}

.nav-con {
  height: 80px;
  background-color: var(--bg-secondary-color);
  width: calc(100% - 4vw);
  top: 0px;
  padding: 0px 2vw;
  justify-content: flex-end;
  position: absolute;
  z-index: 20;
}

.nav-con.fixed {
  position: fixed;
}

.nav-logo {
  height: 70px;
  transition: 0.3s;
  position: absolute;
  left: 2vw;
}

.nav-logo:hover {
  transform: translate(2px, 2px);
}

.nav-btn-con {
  gap: 40px;
  margin-right: 2.5vw;
}

.nav-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--secondary-color);
  font-size: 20px;
  position: relative;
  z-index: 10;
  transition: 0.3s;
}

.nav-btn:hover {
  color: var(--primary-color);
}

.themeChangeBtn {
  height: 35px;
  width: 35px;
  background-color: var(--bg-color);
  border-radius: 20px;
  transition: 0.3s;
  border: var(--third-color) solid 2px;
}

.themeChangeBtn:hover {
  scale: 1.1;
}

.themeIconDark {
  height: 23px;
}

.themeIconLight {
  height: 35px;
  margin-top: 4px;
  margin-left: 3px;
}

.hovershape {
  background-color: var(--secondary-color);
  height: 35px;
  width: 130px;
  border-radius: 20px;
  position: absolute;
  transition: cubic-bezier(0.06, 0.26, 0.45, 1.19) 0.3s;
}

.homeInfo-con {
  gap: 100px;
  flex-wrap: wrap;
  padding-top: 30vh;
  padding-bottom: 20vh;
}

.aboutme-text-con {
  gap: 15px;
  width: min(500px, 90vw);
}

.aboutme-underline {
  height: 10px;
  width: 70px;
  background-color: var(--secondary-color);
}

.aboutme-portrait {
  height: 400px;
  width: 300px;
  object-fit: cover;
  opacity: 0;
  transition: 1s;
}

.portait-animation {
  animation: imgSlide 1s forwards ease-out;
  animation-delay: 0.5s;
}

@keyframes imgSlide {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  40% {
    opacity: 0;
  }
  100% {
    box-shadow: var(--secondary-color) 7px 7px;
    transform: translate(0px);
    opacity: 1;
  }
}

.aboutme-skills-con {
  align-items: center;
  gap: 5px;
}

.skillsUnderline {
  height: 2px;
  width: 0px;
  background-color: var(--secondary-color);
}

.skillsUnderline-animation {
  animation: skillsUnderlineExpand 1s forwards;
}

@keyframes skillsUnderlineExpand {
  from {
    width: 0px;
  }
  to {
    width: min(90vw, 900px);
  }
}

.skill-icons-con {
  flex-wrap: wrap;
  justify-content: center;
  width: min(90vw, 900px);
  margin-top: 20px;
}

.skill-icon-con {
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 120px;
  height: 150px;
  opacity: 0;
}

.skill-icon-animation {
  animation: slideInLeft 1s forwards;
}

.skill-icon-con:nth-child(1) {
  animation-delay: 0s;
}

.skill-icon-con:nth-child(2) {
  animation-delay: 0.1s;
}
.skill-icon-con:nth-child(3) {
  animation-delay: 0.2s;
}
.skill-icon-con:nth-child(4) {
  animation-delay: 0.3s;
}
.skill-icon-con:nth-child(5) {
  animation-delay: 0.4s;
}
.skill-icon-con:nth-child(6) {
  animation-delay: 0.5s;
}
.skill-icon-con:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.skill-icon-img {
  height: 80px;
}

/* Projects */

.projects-con {
  background-color: var(--bg-color);
  padding-top: 30vh;
  gap: 10vh;
}

.projects-innerCon {
  width: min(90vw, 900px);
}

.projectsUnderline {
  height: 2px;
  width: 0px;
  background-color: var(--secondary-color);
}

.projectsUnderline-animation {
  animation: 1s projectsUnderlineExpand forwards;
}

@keyframes projectsUnderlineExpand {
  0% {
  }
  100% {
    width: min(309px, 90vw);
  }
}

.project-con {
  height: 45vh;
  width: 1200px;
  position: relative;
}

.project-img-right {
  width: 900px;
  box-shadow: var(--secondary-color) 10px 10px;
  position: absolute;
  right: 0px;
  transition: 0.5s;
}

.project-img-right:hover {
  transform: translate(-10px, -10px);
  box-shadow: var(--secondary-color) 27px 27px;
}

.project-img-left {
  width: 900px;
  box-shadow: var(--secondary-color) -10px 10px;
  position: absolute;
  left: 0px;
  transition: 0.5s;
}

.project-img-left:hover {
  transform: translate(10px, -10px);
  box-shadow: var(--secondary-color) -27px 27px;
}

.project-text-con {
  height: 150px;
  width: 600px;
  background-color: var(--bg-secondary-color);
  position: absolute;
  bottom: 50px;
  padding: 16px 24px;
}

.project-text-header {
  color: var(--secondary-color);
  font-size: 26px;
}

.project-tek-text {
  color: var(--third-color);
  font-size: 18px;
  position: absolute;
  bottom: 16px;
  word-spacing: 10px;
  margin-left: 10px;
}

.project-btn-con-right {
  position: absolute;
  justify-content: space-between;
  right: 30px;
  bottom: 20px;
  gap: 20px;
}

.project-btn-overflow-con {
  overflow: hidden;
  position: relative;
}

.project-btn {
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  transition: 0.2s;
  border: none;
}

.project-btn-live {
  color: var(--secondary-color);
}

.project-btn-live::after {
  content: "<Live/>";
  position: absolute;
  bottom: -20px;
}

.project-btn:hover {
  transform: translateY(-20px);
}

.project-btn-code {
  color: var(--primary-color);
}

.project-btn-code::after {
  content: "<Code/>";
  position: absolute;
  bottom: -20px;
}

.projects-more-btn {
  height: 50px;
  width: 200px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
  transition: 0.3s;
  margin-top: 5vh;
}

.projects-more-btn:hover {
  background-color: var(--secondary-color);
  color: var(--bg-color);
}

/* Contact */

.contact-con {
  height: 100vh;
  background-color: var(--bg-color);
}

.contact-innerCon {
  width: min(90vw, 900px);
}
.contact-underline {
  height: 2px;
  width: 0px;
  background-color: var(--secondary-color);
}

.contact-underline-animation {
  animation: contactUnderlineExpand 1s forwards;
}

@keyframes contactUnderlineExpand {
  0% {
    width: 0px;
  }
  100% {
    width: 193px;
  }
}

.contact-btn {
  margin-top: 10vh;
  background-color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
  height: 50px;
  width: 200px;
  font-size: 22px;
  color: var(--bg-color);
  border-radius: 5px;
  transition: 0.3s;
}

.contact-btn:hover {
  scale: 1.1;
}
